{{!-- <div class="card-grid-space">
    <div class="card">
        <div class="card-body option">
            <div class="option">

                <button type="submit" class="card-btn btn-primary">
                    <h5 class="card-title">
                        {{volumeInfo.title}}
                        <input type="hidden" name="vol-id" value="{{id}}" />
                    </h5>


                    <img src="{{volumeInfo.imageLinks.thumbnail}}" id="bookImg">
                    <p class="card-text" id="author">{{volumeInfo.authors.[0]}}</p>
                    <p class="card-text" id="isbn">{{volumeInfo.industryIdentifiers.[0].identifier}}</p>
                </button>
            </div>
        </div>
    </div>
</div> --}}


