<!--Header & Sub-Header-->

<div>
  <h1 class="search-header" id="search-header">LibScrib</h1>
  <h4 class="search-sub-header" id="search-sub-header">Search for millions of books online, get suggestions, and leave
    reviews on books you've already read.</h4>
</div>

<!-- Container for Main Search Result Card -->
<container class="search-container">
  <div id="mainSearchContainer" class="search-results">
    {{#each data.items as |book| }}
  
<div class="card-grid-space">
    <div class="card">
        <div class="card-body option">
            <div class="option">

                <button class="card-btn btn-primary option" id="btn">
                    <h5 class="card-title">
                        {{volumeInfo.title}}
                        <input type="hidden" name="vol-id" value="{{id}}" />
                    </h5>


                    <img src="{{volumeInfo.imageLinks.thumbnail}}" id="bookImg">
                    <p class="card-text" id="author">{{volumeInfo.authors.[0]}}</p>
                    <p class="card-text" id="isbn">{{volumeInfo.industryIdentifiers.[0].identifier}}</p>
                </button>
            </div>
        </div>
    </div>
</div>

    {{/each}}
  </div>
</container>


<script src="/js/singleBook.js"></script>
{{!-- <script src="/js/index.js"></script>  --}}
